/* html{
    background: url("./images/halie-west-25xggax4bSA-unsplash.jpg") no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
    overflow: hidden;
} */
.row{
    display: flex;
    gap: 50px;
    margin-bottom: 25px;
}
.text{
    font-weight: bold;
    font-size: 24px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
fieldset{
    border: none;
}